<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clip-Snatch</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Download Video</h1>
        <input type="text" id="videoUrl" placeholder="Enter video URL" />
        <button id="downloadButton" class="animated-button">Download</button>
        <p id="message"></p>
        <div id="loader" class="loader" style="display: none;"></div>
        <div id="progress-container" style="display: none;">
            <div id="progressBar" class="progress-bar"></div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Clip-Snatch. All rights reserved.</p>
    </footer>
    <script src="/static/js/scripts.js"></script>
</body>

</html>